Repository leseb/openresponses-gw: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-server, openresponses-conformance, validate-openapi-sync

.pre-commit-config.yaml:

# Pre-commit hooks for OpenAI Responses Gateway
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Go code formatting and linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go formatting
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-imports
      - id: go-mod-tidy
      - id: golangci-lint
        args: [--timeout=5m]

  # OpenAPI validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate OpenAPI spec
        files: ^openapi\.yaml$
        args:
          - --schemafile
          - https://raw.githubusercontent.com/OAI/OpenAPI-Specification/main/schemas/v3.0/schema.json
          - openapi.yaml

  # Open Responses conformance tests
  - repo: local
    hooks:
      # Build binaries before running tests
      - id: build-server
        name: Build server binary
        entry: make build-server
        language: system
        pass_filenames: false
        files: \.(go|mod|sum)$

      # Start server and run conformance tests
      - id: openresponses-conformance
        name: Open Responses conformance tests
        entry: scripts/run-conformance-tests.sh
        language: system
        pass_filenames: false
        files: ^(pkg/|cmd/|openapi\.yaml)

      # Validate OpenAPI spec consistency
      - id: validate-openapi-sync
        name: Check OpenAPI files are in sync
        entry: scripts/validate-openapi-sync.sh
        language: system
        pass_filenames: false
        files: ^(openapi\.yaml|pkg/adapters/http/openapi\.go)$

fix: resolve pre-commit hook issues
  .pre-commit-config.yaml
  pkg/adapters/http/openapi.go
  pkg/adapters/http/vector_stores_handler.go
  pkg/core/schema/conversations.go
  pkg/core/schema/files.go
  pkg/core/schema/models.go
  pkg/core/schema/pagination.go
  pkg/core/schema/prompts.go
  pkg/core/schema/responses.go
  pkg/core/schema/vector_stores.go
  scripts/validate-openapi-sync.sh
Due: build-server, openresponses-conformance, validate-openapi-sync

feat: add simplified conformance testing scripts
  .pre-commit-config.yaml
  Makefile
  TESTING.md
  scripts/README.md
  scripts/test-conformance-with-server.sh
  scripts/test-conformance.sh
Due: none

fix: update Response schema for Open Responses conformance
  pkg/adapters/http/handler.go
  pkg/core/engine/engine.go
  pkg/core/schema/responses.go
Due: build-server, openresponses-conformance

feat: achieve 99.5% OpenAPI conformance with OpenAI API
  .pre-commit-config.yaml
  CONFORMANCE_STATUS.md
  FUNCTIONAL_CONFORMANCE.md
  Makefile
  OPENAPI_CONFORMANCE.md
  TESTING.md
  conformance-results.json
  openapi.yaml
  pkg/adapters/http/handler.go
  pkg/adapters/http/vector_stores_handler.go
  pkg/core/engine/engine.go
  pkg/core/schema/responses.go
  pkg/core/schema/vector_stores.go
  pkg/storage/memory/vector_stores.go
  scripts/openapi_conformance.py
  scripts/test-and-validate-responses.sh
  scripts/test-responses-minimal.sh
Due: build-server, openresponses-conformance, validate-openapi-sync

test: add smoke tests and envoy integration tests
  .gitignore
  pkg/adapters/envoy/translator_test.go
  scripts/test-envoy-extproc.sh
  scripts/test-smoke.sh
Due: build-server, openresponses-conformance

docs: update README to reflect actual implementation status
  README.md
Due: none

feat: complete Responses API with list, delete, and input_items endpoints
  API_IMPLEMENTATION_STATUS.md
  openapi.yaml
  pkg/adapters/http/handler.go
  pkg/core/engine/engine.go
Due: build-server, openresponses-conformance, validate-openapi-sync

docs: update FUNCTIONAL_CONFORMANCE.md and fix pre-commit hook
  .pre-commit-config.yaml
  FUNCTIONAL_CONFORMANCE.md
  pkg/core/schema/vector_stores.go
Due: build-server, openresponses-conformance

feat: implement real tool calling, multi-turn conversations, and full parameter passthrough
  FUNCTIONAL_CONFORMANCE.md
  README.md
  pkg/core/api/chat_completion.go
  pkg/core/api/mock_client.go
  pkg/core/api/openai_client.go
  pkg/core/engine/engine.go
  pkg/core/state/store.go
Due: build-server, openresponses-conformance

ci: add GitHub Actions workflow with build, pre-commit, and conformance jobs
  .github/workflows/ci.yml
Due: none

chore: add .claude/ to .gitignore
  .gitignore
Due: none

docs: streamline README and move details to docs/
  README.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
Due: none

docs: clarify quick start with Ollama example
  README.md
Due: none

feat: restructure tests/ and add Python integration tests
  .github/workflows/ci.yml
  .gitignore
  CONFORMANCE.md
  CONFORMANCE_STATUS.md
  Makefile
  README.md
  TESTING.md
  pkg/core/engine/engine.go
  pkg/core/schema/responses.go
  pyproject.toml
  scripts/README.md
  tests/integration/__init__.py
  tests/integration/test_responses.py
  tests/scripts/run-conformance-tests.sh
  tests/scripts/test-and-validate-responses.sh
  tests/scripts/test-conformance-with-server.sh
  tests/scripts/test-conformance.sh
  tests/scripts/test-envoy-extproc.sh
  tests/scripts/test-responses-minimal.sh
  tests/scripts/test-smoke.sh
Due: build-server, openresponses-conformance

feat: add integration tests for all gateway APIs
  pyproject.toml
  tests/integration/conftest.py
  tests/integration/test_conversations.py
  tests/integration/test_files.py
  tests/integration/test_models.py
  tests/integration/test_prompts.py
  tests/integration/test_responses.py
  tests/integration/test_vector_stores.py
Due: none

feat: add Connectors API for MCP server registration
  cmd/server/main.go
  pkg/adapters/http/connectors_handler.go
  pkg/adapters/http/handler.go
  pkg/core/schema/connectors.go
  pkg/storage/memory/connectors.go
  tests/integration/test_connectors.py
Due: build-server, openresponses-conformance

feat: integrate Conversations API with Responses API
  pkg/core/engine/engine.go
  pkg/core/schema/responses.go
  tests/integration/conftest.py
  tests/integration/test_responses.py
Due: build-server, openresponses-conformance

feat: add passthrough for image/file input and web_search/file_search tools
  pkg/core/api/chat_completion.go
  pkg/core/api/openai_client.go
  pkg/core/engine/engine.go
  pkg/core/schema/responses.go
  tests/integration/test_responses.py
Due: build-server, openresponses-conformance

fix: return HTTP 400 for request validation errors instead of 500
  pkg/adapters/http/handler.go
Due: build-server, openresponses-conformance

refactor: remove mock client, require a real inference backend
  pkg/core/api/mock_client.go
  pkg/core/engine/engine.go
Due: build-server, openresponses-conformance

feat: integrate MCP tool execution into Responses API engine
  cmd/envoy-extproc/main.go
  cmd/server/main.go
  pkg/core/engine/engine.go
  pkg/core/schema/responses.go
  pkg/mcp/client.go
  pkg/mcp/types.go
  pyproject.toml
  tests/integration/novatech_mcp_server.py
  tests/integration/test_demo_workflow.py
Due: build-server, openresponses-conformance

feat: add versioned Prompts API with default version management
  pkg/adapters/http/handler.go
  pkg/adapters/http/prompts_handler.go
  pkg/core/schema/prompts.go
  pkg/storage/memory/prompts.go
  tests/integration/test_demo_workflow.py
  tests/integration/test_prompts.py
Due: build-server, openresponses-conformance

fix: use typed error for version mismatch and update docs for versioned Prompts API
  FUNCTIONAL_CONFORMANCE.md
  openapi.yaml
  pkg/adapters/http/prompts_handler.go
  pkg/storage/memory/prompts.go
Due: build-server, openresponses-conformance, validate-openapi-sync

feat: add Milvus vector store backend with file ingestion and search
  CONFIGURATION.md
  README.md
  cmd/envoy-extproc/main.go
  cmd/server/main.go
  docs/ARCHITECTURE.md
  examples/standalone/config-ollama.yaml
  examples/standalone/config-openai.yaml
  go.mod
  go.sum
  pkg/adapters/http/handler.go
  pkg/adapters/http/vector_stores_handler.go
  pkg/core/api/embedding_client.go
  pkg/core/config/config.go
  pkg/core/engine/engine.go
  pkg/core/services/vectorstore_service.go
  pkg/storage/memory/vector_stores.go
  pkg/vectorstore/backend.go
  pkg/vectorstore/chunker.go
  pkg/vectorstore/memory.go
  pkg/vectorstore/milvus/milvus.go
  tests/integration/test_demo_workflow.py
  tests/integration/test_vector_stores.py
Due: build-server, openresponses-conformance

fix: update MCP client for streamable-http transport compatibility
  pkg/mcp/client.go
  tests/integration/novatech_mcp_server.py
  tests/integration/test_demo_workflow.py
Due: build-server, openresponses-conformance

feat: add pluggable file storage backends (memory, filesystem, S3)
  CONFIGURATION.md
  cmd/server/main.go
  examples/standalone/config-ollama.yaml
  examples/standalone/config-openai.yaml
  go.mod
  go.sum
  pkg/adapters/http/files_handler.go
  pkg/adapters/http/handler.go
  pkg/core/config/config.go
  pkg/core/services/vectorstore_service.go
  pkg/filestore/filestore.go
  pkg/filestore/filestoretest/conformance.go
  pkg/filestore/filesystem/filesystem.go
  pkg/filestore/filesystem/filesystem_test.go
  pkg/filestore/memory/memory.go
  pkg/filestore/memory/memory_test.go
  pkg/filestore/s3/s3.go
  pkg/filestore/s3/s3_test.go
  pkg/storage/memory/files.go
Due: build-server, openresponses-conformance

feat: replace chat completions translation with native Responses API backend
  CONFIGURATION.md
  README.md
  cmd/server/main.go
  docs/ARCHITECTURE.md
  pkg/adapters/http/handler.go
  pkg/core/api/chat_completion.go
  pkg/core/api/message.go
  pkg/core/api/openai_client.go
  pkg/core/api/responses_client.go
  pkg/core/api/responses_openai_client.go
  pkg/core/api/responses_openai_client_test.go
  pkg/core/engine/engine.go
  pkg/core/schema/responses.go
  pkg/core/services/models.go
Due: build-server, openresponses-conformance

fix: handle nested file_search/web_search tool format from OpenAI SDK
  pkg/core/schema/responses.go
  pkg/core/schema/responses_test.go
Due: build-server, openresponses-conformance

docs: add project direction assessment
  docs/ASSESSMENT.md
Due: none

refactor: remove Models API
  README.md
  cmd/server/main.go
  docs/ARCHITECTURE.md
  docs/ASSESSMENT.md
  pkg/adapters/http/handler.go
  pkg/adapters/http/models_handler.go
  pkg/adapters/http/openapi.go
  pkg/core/schema/models.go
  pkg/core/services/models.go
  tests/integration/test_models.py
Due: build-server, openresponses-conformance, validate-openapi-sync

test: add unit tests for chunker, engine helpers, and memory storage
  pkg/core/engine/engine_test.go
  pkg/storage/memory/memory_test.go
  pkg/vectorstore/chunker_test.go
Due: build-server, openresponses-conformance

style: fix struct field alignment and import ordering
  pkg/adapters/http/handler.go
  pkg/core/api/responses_client.go
  pkg/core/config/config.go
  pkg/core/schema/connectors.go
  pkg/core/schema/responses.go
  pkg/filestore/filesystem/filesystem_test.go
Due: build-server, openresponses-conformance

feat: auto-generate openapi.yaml from Go annotations with swaggo/swag
  .pre-commit-config.yaml
  Makefile
  cmd/server/main.go
  docs/embed.go
  docs/swagger.yaml
  pkg/adapters/http/connectors_handler.go
  pkg/adapters/http/conversations_handler.go
  pkg/adapters/http/files_handler.go
  pkg/adapters/http/handler.go
  pkg/adapters/http/openapi.go
  pkg/adapters/http/prompts_handler.go
  pkg/adapters/http/vector_stores_handler.go
  pkg/core/schema/connectors.go
  pkg/core/schema/conversations.go
  pkg/core/schema/pagination.go
  pkg/core/schema/prompts.go
  pkg/core/schema/responses.go
  pkg/core/schema/vector_stores.go
  scripts/validate-openapi-sync.sh
Due: build-server, openresponses-conformance, validate-openapi-sync

feat: add SQLite persistent session store
  API_IMPLEMENTATION_STATUS.md
  CONFIGURATION.md
  QUICKSTART.md
  cmd/server/main.go
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  go.mod
  go.sum
  pkg/core/config/config.go
  pkg/storage/sqlite/sqlite.go
  pkg/storage/sqlite/sqlite_test.go
Due: build-server, openresponses-conformance

refactor: remove in-memory SessionStore, default to SQLite
  cmd/envoy-extproc/main.go
  cmd/server/main.go
  pkg/core/config/config.go
  pkg/storage/memory/memory.go
  pkg/storage/memory/memory_test.go
Due: build-server, openresponses-conformance

fix: scope missing-endpoint reporting to implemented categories
  scripts/openapi_conformance.py
Due: none

style: normalize swag comment format in server main
  cmd/server/main.go
Due: build-server, openresponses-conformance

style: fix struct field alignment in schema and sqlite packages
  pkg/core/schema/pagination.go
  pkg/core/schema/responses.go
  pkg/core/schema/vector_stores.go
  pkg/storage/sqlite/sqlite.go
Due: build-server, openresponses-conformance
